@font-face {
    font-family: "Roboto";
    src: url(C:\Users\felix\Downloads\css-exercises\LANDING-PAGE\pages);
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    justify-content: space-evenly;

}
.mainblock1 {
    
    background-color: #1f2937;
    height: 25vh;

}

.leftheader {
    font-family: "Roboto";
    font-weight: 700;
    color: #f9faf8;
    font-size: 24px;
    margin: 20px;
    margin-left: 250px;
}

.rightheader {
    
    margin: 20px;
    margin-right: 250px;
    color: white;
    font-family: "Roboto";
    font-weight: 300;
}

.rightheaderlinks {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
    color: white;
}

.Thankscontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

.leftthankscontainer {
    margin-left: 250px;
}


#ttop {
    font-family: "Roboto";
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}

#teaching {
    font-family: "Roboto";
    color: #e5e7eb;
    font-size: 18px;
}

#gfybutton {
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#monkeynft {
    border-radius: 50px;
    width: 291.5px;
    height: 167px;
    margin-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.mainblock2 {
    background-color: white;
    height: 25vh;

}

#Someimportantinformation {
    font-family: "Roboto";
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.block2content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    font-family: "Roboto";
    color: #1f2937;
    font-size: 18px;
}

.firstbox {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
}

#bluebox1text {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    text-align: center;
    
}

.secondbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#bluebox2text {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    text-align: center;
}

.thirdbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#bluebox3text {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    text-align: center;
}

.fourthbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#bluebox4text {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    text-align: center;
}

#bluebox1 {
    width: 200px;
    height: 200px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 25px;
}

#bluebox2 {
    width: 200px;
    height: 200px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 25px;

}

#bluebox3 {
    width: 200px;
    height: 200px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 25px;

}

#bluebox4 {
    width: 200px;
    height: 200px;
    background-color: none;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 25px;
}

.mainblock3 {
    
    background-color: #e5e7eb;
    height: 25vh;
    
}

.block3content {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin-left: 250px;
    margin-right: 250px;
    gap: 5px;
 
}

#Inspiringquote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}

#godofalchemy {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    font-size: 20px;
    font-weight: 800;
    margin-right: 250px;
}

.mainblock4 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 231px;
}

.block4content {
    width: 1000px;
    height: 100px;
    background-color: #3882f6;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block4actualcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 500px;
    font-family: "Roboto";
    color: white;
}

#CTA {
    font-weight: 700;
}

#CTAcopy {
    font-weight: 200;
}

#SignUpButton {
    background-color: #3882f6;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    font-family: "Roboto";
    color: white;
}

footer {
    background-color: #1f2937;
    text-align: center;
    color: white;
    font-family: "Roboto";
    padding: 30px;
    margin-top: auto;
}